@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap');


body {
    background-color: #2A0944;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;

}

h1 {
    color: #0CECDD;
}

.container {

    display: flex;
    flex-direction: column;
    width: 50vw;

    margin: auto;
}

label {
    text-align: left;
    margin-left: 6rem;
    color: #0CECDD;
}

#birth-date {
    width: 25vw;
    margin-left: 6rem;
    margin-bottom: .5rem;
    height: 2vw;
}

#lucky-number {
    width: 25vw;
    margin-left: 6rem;
    margin-bottom: .5rem;
    height: 2.5vw;
}

#check-number {
    width: 8vw;
    height: 2vw;
    margin: 5px 5px 5px 200px;
    border-radius: .5rem;
    padding: .3rem;
    background-color: #0CECDD;
    box-shadow: 0px 8px 15px #0CECDD;
}

#check-number:hover {
    background-color: #EB92BE;
    box-shadow: 0px 8px 15px #EB92BE;
}

#output-box {
    width: 25vw;
    height: 4vw;
    margin: .5rem .5rem .5rem 6rem;
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    font-size: large;
}